/.quarto/
**/*.quarto_ipynb
/nelson-roque-tenure-cv.html
/nelson-roque-tenure-cv.pdf
/nelson-roque-tenure-cv_files/
.DS_Store
/sections/mentorship_files
/sections/funding2_files
/run-this-for-cv_files
